@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #0891b2;
}

.borderBlack {
  @apply border border-black/10;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #96cef3 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #96cef3;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
